@charset "utf-8";
/*通用*/
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd {
  margin:0;
  padding:0;
  border:none;
  list-style:none;
  font-weight: 400;
}
input,button,textarea {border:none;outline: none;}
html{
  font-size: 18px !important;
}
/*@font-face {
  font-family: PingFang-SC-Regular;
  src: url('../fonts/PingFang%20Regular.ttf');
}*/
body {
  font-family: PingFang Regular,Roboto-Regular,"微软雅黑";
  color:#333;
  margin:0 auto;
  padding:0;
  width: 100%;
}
::-webkit-input-placeholder{
  color: #d7d6d6;
}
::-moz-placeholder {
  color: #d7d6d6;
}
:-ms-input-placeholder {
    color: #d7d6d6;
}
 .row {
    margin: 0;
  }
  /*页面尺寸*/
  body {
    background-color: #f5f5f5;
  }
  .container {
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
  span {
    display: inline-block;
  }
  a, a:hover {
    color: #000;
    text-decoration: none;
  }
  b, i {
    display: inline-block;
  }
  b {
    font-weight: normal;
  }
  i {
    font-style: normal;
  }
  @head: 88/2px;
  @foot: 98/2px;
  @nav2: 80/2px;
  @yellow: #c39528;
  .header, .footer, .main {
    width: 100%;
  }
  .header, .footer {
    position: fixed;
    text-align: center;
    z-index: 999;
    background-color: #fff;
  }
  p {
    position: relative;
    span {
      position: absolute;
    }
  }
  /*头部*/
  .header {
    height: @head;
    top: 0;
  }
  .headTop {
    p {
      font-size: 0.888rem;
      line-height: @head;
    }
  }
  .cl {
    top: (88/2-14)/2px;
    left: 10px;
    width: 28/2px;
    height: 28/2px;
    background: url("../img/关闭@2x.png") 0 0 no-repeat;
    background-size: 14px 14px;
  }
  .sd {
    top: (88/2-4)/2px;
    right: 20px;
    width: 40/2px;
    height: 8/2px;
    background: url("../img/更多@2x.png") 0 0 no-repeat;
    background-size: 20px 4px;
  }
  /*二级头部固定*/
  p.nav2 {
    position: fixed;
    top: @head;
    width: 100%;
    height: @nav2;
    line-height: @nav2;
    margin-bottom: @nav2;
    background-color: #fff;
    border-top: 1px solid #eee;
    font-size: 0.833rem;
    text-align: center;
    z-index: 999;
    a {
      width: 100%;
      display: block;
    }
    span {
      width: 16/2px;
      height: 32/2px;
      background: url("../img/返回@2x.png") 0 0 no-repeat;
      background-size: 16/2px 32/2px;
      top: 12px;
      left: 12px;
    }
    b {
      position: absolute;
      top: 0;
      right: 15px;

    }

  }

  p.nav2 + .main {
    margin-top: @head+@nav2;
  }
  /*main*/
  .main {
    margin-top: @head;
    margin-bottom: @foot;
  }
  /* 底部导航*/
  .footer {
    height: @foot;
    bottom: 0;
    font-size: 0.722px;
    box-shadow: 0 -1px 10px #CCC;
    color: #333;
    .footItem {
      padding: 8px 0 10px 0;
    }
    img {
      width: 20px;
      height: 22px;
    }
    a {
      width: 100px;
      display: inline-block;
      height: @foot;
      line-height: @foot;
      img {
        width: 16/2px;
        height: 32/2px;
      }
    }
  }
  .active a, .active {
    color: @yellow;
  }
  /*tab内容*/
  .tab-head {
    background-color: #fff;
    li {
      height: 80/2px;
      line-height: 80/2px;
      font-size: 0.833rem;
    }
  }
  .tab-content {
    position: relative;
  }
  .tabItem {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    transition: opacity 1s linear;
    > div {
      background-color: #fff;
    }
  }
  .curren {
    opacity: 1 !important;
    //width: 100% !important;
  }
  /*media*/

  /*二级底部*/
  .footer {
    .foot2 {
      padding: 0;
      font-weight: normal;
      font-size: 0.944rem;
      a {
        color: @yellow;
      }
      p {
        height: @foot;
        line-height: @foot;
        text-align: left;
        margin-left: 20px;
        span {
          box-shadow: none;
          margin: 0;
        }
      }
      span {
        float: right;
        margin: -@foot 0;
        height: @foot;
        line-height: @foot;
        font-size: 0.944rem;
        color: @yellow;
        box-shadow: 0 4px 6px #e6e6e6;
        width: 10rem;
      }
    }

  }
  /*div-info*/
  div[class^=content] {
    background-color: #fff;
  }
  /*9/2*/
  div.content {
    margin-top: 9/2px;
  }
  /*5/2*/
  div[class^=content1] {
    margin-top: 5/2px;
  }
  /*32/2*/
  div[class^=content2] {
    margin-top: 23/2px;
  }
  /*14/2*/
  div[class^=content3] {
    margin-top: 7px;
  }
  /*12/2*/
  div[class^=content4] {
    margin-top: 12/2px;
  }
  /*最后一个info 无边*/
  //div[class^="content"][class$="_2"]{
  div[class^="content"][class$="_2"] {
    .info, .info2 {
      &:last-child {
        border: none;
      }
    }
  }
  /*第一个info 有边*/
  div[class^="content"][class$="_1"] {
    .info {
      &:not(:first-child) {
        border: none;
      }
    }
  }
  div.checkbox, .radio {
    border-bottom: 1px solid #f5f5f5;
    span {
      height: 40px;
      line-height: 40px;
      font-size: 0.833rem;
    }
  }
  .checkbox, .radio {
    position: relative;
    height: 79/2px;
    background-color: #fff;
    margin: 0;
  }
  .checkbox input[type='checkbox'], .radio input[type='radio'] {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
    margin: 0;
  }
  .checkbox label, .radio label {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    line-height: 40px;
    font-size: 0.833rem;
    padding-left: 20px;
    font-weight: normal;
    cursor: pointer;
    width: 100%;
    text-align: left;
  }
  /*点击前圆的样式*/
  .checkbox label:before, .radio label:before {
    content: '';
    position: absolute;
    right: 20px;
    top: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid @yellow;
    border-radius: 50%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
  }
  /*点击后对勾的效果*/
  .checkbox label:after, .radio label:after {
    content: '';
    position: absolute;
    right: 26px;
    top: 12px;
    width: 6px;
    height: 12px;
    border: 0;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
  }
  .checkbox input[type='checkbox']:checked + label:before, .radio input[type='radio']:checked + label:before {
    background: @yellow;
    border-color: @yellow;
  }
  .checkbox input[type='checkbox']:checked + label:after, .radio input[type='radio']:checked + label:after {
    background: @yellow;
  }
  div[class^="info"] {
    position: relative;
    text-align: left;
    height: 80/2px;
    line-height: 80/2px;
    &.info2 {
      height: 70px;
      line-height: 70px;
      span.bg2 {
        margin-top: 63/2px;
      }
      span.img {
        border-radius: 50%;
        width: 55px;
        height: 55px;
        line-height: 55px;
        background-color: #f5f5f5;
        margin: 15/2px;
      }
    }
    /*2行*/
    &.l2 {
      height: 80px;
      p {
        color: @yellow;
        font-size: 0.722rem;
        height: 30px;
        line-height: 30px;
      }
      font-size: 0.666rem;
    }
    /*30px 头*/
    &.head {
      font-size: 0.833rem;
    }
    b {
      position: absolute;
      height: 40px;
      line-height: 40px;
      margin-left: 20%;
    }
    /*p input*/
    p {
      input {
        width: 95%;
        height: 28px;
        line-height: 28px;
      }
      span {
        margin-top: 8px;
        width: 16px;
        height: 16px;
        background: url("../img/del@2x.png") 0 0 no-repeat;
        background-size: 16px 16px;
      }
    }
    font-size: 0.722rem;
    text-align: left;
    height: 70/2px;
    line-height: 70/2px;
    border-bottom: 1px solid #f5f5f5;
    background-color: #fff;
    margin-left: 43/2px;
    margin-right: 31/2px;
    a {
      width: 100%;
      display: block;
    }
    span {
      width: 70%;
      position: static;
      height: 70/2px;
      color: @yellow;
      text-align: right;
      float: right;
      //font-size:0.833rem;
      input {
        height: 35px;
        -web-kit-appearance: none;
        -moz-appearance: none;
        width: 80%;
        text-align: right;
        outline: 0;
      }
    }
    .fr {
      float: right;
    }
    /*yellow >*/
    .bg1 {
      background: url("../img/more1.png") 0 0 no-repeat;
      background-size: 14/2px 26/2px;
      width: 7px;
      height: 13px;
      margin-top: 11px;
      margin-left: 3px;
    }
    /*black >*/
    .bg2 {
      width: 7px;
      height: 13px;
      background: url("../img/more@2x.png") 0 0 no-repeat;
      background-size: 14/2px 26/2px;
      margin-top: 11px;
      margin-left: 3px;
    }
    /*span 26 black*/
    .bla {
      font-size: 0.722rem;
      color: #333 !important;
    }
    /*span 30 black*/
    .blan {
      color: #333 !important;
    }
  }

  .red {
    color: red !important;
  }
/*普通剪发简介*/
.tex{
  width: 100%;
  background-color: #fff;
  text-align: left;
  padding:0 26px 26px 26px;
  p{
    margin-right: 26px;
    display: block;
    text-align: right;
  }
}
.addZ{
  position: fixed;
  height: @foot;
  line-height: @foot;
  bottom: @foot;
  background-color: #fff;
  width: 100%;
  z-index:1000;
  a{
    color: @yellow;
  }
}

.media-left{
  outline: none;
}