.item_wrap {
  position: relative;
  width: 100%;
}
.item_wrap .item_top {
  position: relative;
  top: 0;
  overflow: hidden;
  z-index: 10;
}
.item_wrap .item_del {
  /* 删除按钮位于条目内容的下一层 */
  position: absolute;
  background-color: #c00;
  top: 0px;
  right: 0;
  width: 15%;
  color: #fff;
  z-index: 9;
}
(node:4476) [DEP0026] DeprecationWarning: util.print is deprecated. Use console.log instead.
