.user {
  margin-top: 9px;
}
.user .userTop p,
.user .userFoot p {
  position: relative;
}
.user .userTop p span,
.user .userFoot p span {
  position: absolute;
}
.user .userTop {
  text-align: left;
  font-size: 0.833rem;
}
.user .userTop p {
  height: 40px;
  line-height: 40px;
  padding-left: 45.5px;
}
.user .userTop span {
  width: 19px;
  height: 19px;
  background: url("../img/用户@2x.png") 0 0 no-repeat;
  background-size: 19px 19px;
  margin: 10.5px 0px 10.5px -27px;
}
.user .userTop a {
  position: absolute;
  right: 0;
  color: #c39528;
  padding-right: 35px;
}
.user .userTop a span {
  right: 13px;
  width: 6.5px;
  height: 12px;
  margin-top: 14px;
  background: url("../img/more1.png") 0 0 no-repeat;
  background-size: 6.5px 12px;
}
.user .userContent {
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  font-size: 0.722rem;
  text-align: left;
  padding: 18px 20px;
}
.user .userContent .p1 {
  width: 55%;
}
.user .userContent .p2 {
  width: 40%;
}
.user .userContent .p2,
.user .userContent .p1 {
  display: inline-block;
}
.user .userContent .p2 span,
.user .userContent .p1 span {
  right: 35%;
}
.user .userContent .p2 span.r0,
.user .userContent .p1 span.r0 {
  right: -8px;
}
.user .userContent .time {
  padding: 29px 0 24px 31px;
}
.user .userContent .time span {
  width: 15.5px;
  height: 15.5px;
  margin: 2px 0 0 -32px;
  background: url("../img/时间@2x.png") 0 0 no-repeat;
  background-size: 15.5px 15.5px;
}
.user .userContent .tips {
  color: #666;
}
.user .userFoot p {
  height: 45px;
  line-height: 45px;
  font-size: 0.888rem;
  text-align: left;
  margin-left: 40px;
}
.user .userFoot p span {
  width: 15px;
  height: 17px;
  margin: 14px 0 0 -25px;
  background: url("../img/电话@2x.png") 0 0 no-repeat;
  background-size: 15px 17px;
  box-shadow: none;
}
.user .userFoot span.accp {
  float: right;
  margin: -45px 0;
  height: 45px;
  line-height: 45px;
  font-size: 0.888rem;
  color: #c39528;
  box-shadow: 0 4px 6px #e6e6e6;
  width: 140px;
}
(node:17608) [DEP0026] DeprecationWarning: util.print is deprecated. Use console.log instead.
