.tab-head {
  width: 100%;
  overflow-x: auto;
}
.tab-head ul {
  width: 390px;
}
.tab-head ul li {
  float: left;
  display: inline-block;
}
.tab-head ul li.d3 {
  width: 130px;
}
.tab-head ul li a {
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.tab-head ul:after {
  content: "";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
(node:23588) [DEP0026] DeprecationWarning: util.print is deprecated. Use console.log instead.
