#yytM {
  display: none;
}
#yytM .modalHead .back {
  float: left;
  margin-left: 1.5rem;
}
#yytM .modalHead .name {
  font-size: 1rem;
}
#yytM .modalHead .cancel {
  float: right;
  margin-right: 1.5rem;
}
#yytM .modalBody {
  position: relative;
  height: 120px;
  overflow: hidden;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  margin: 0 auto;
  zoom: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  /*.dian{
      position: absolute;
      height: 120px;
      line-height: 120px;
      top: 0;
      left: 50%;
      width: 10px;
      margin-left: -10px;
      font-size: 1rem;
      text-align: center;
      color: #d2cccc;
    }*/
  /*  #starT,#endT{
      width: 49%;
      display: inline-block;
      position: relative;
      .dian{
        width: 10px;
      }*/
  /*div{
        overflow-y: scroll;
        display: inline-block;
        width: 48%;
        height: 91px;
        position: relative;

      }
    }*/
}
#yytM .modalBody .tgroup {
  min-width: 40px;
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  -ms-touch-action: none;
  padding: 0 0.5rem;
  touch-action: none;
}
#yytM .modalBody .tgroup .tview {
  height: 120px;
  overflow: hidden;
  position: relative;
}
#yytM .modalBody .tgroup .tview:before,
#yytM .modalBody .tgroup .tview:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #4eccc4;
  display: block;
  z-index: 999;
}
#yytM .modalBody .tgroup .tview:before {
  left: 0;
  top: 40px;
  bottom: auto;
  right: auto;
}
#yytM .modalBody .tgroup .tview:after {
  left: 0;
  bottom: 40px;
  right: auto;
  top: auto;
}
#yytM .modalBody .tgroup .tview ul {
  -webkit-transform: translate3d(0px, 40px, 0px);
  transition: -webkit-transform 0.0588235s ease-out;
}
#yytM .modalBody li > a {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 0.9rem;
}
#yytM .modalBody li.active a {
  color: #c39528;
}
#yydM .modalContent {
  margin-top: 40%;
}
#yydM .modalBody {
  height: 280px;
  border-top: 1px solid #f5f5f5;
}
(node:23628) [DEP0026] DeprecationWarning: util.print is deprecated. Use console.log instead.
