@head:88/2px;
@foot:98/2px;
@yellow:#c39528;
.active{
  span{
    border: 1px solid @yellow !important;
  }
}
/*预约时间*/
.yysj{
  background-color: #fff;
  //position: relative;
  overflow: auto;
  .yysjtop{
    //position: absolute;
    top: 0;
    width: 525px;
    font-size: 0.7rem;
    border-top: 1px solid #eee;
    border-bottom: 2px solid #eee;
    clear: both;
    &:after{
      content:"";
      height: 0;
      visibility:hidden;
      display:block;
      clear:both;
    }
    li{
      float: left;
      height: 35px;
      line-height: 35px;
      padding: 0 18/2px 0 38/2px;
    }
  }
}
.yysjbody{
  height: 127px;
  font-size: 0.75rem;
  background-color: #fff;
  ul{
    padding: 0 30px;

    &:after{
      content:"";
      height: 0;
      visibility:hidden;
      display:block;
      clear:both;
    }
    li{
      float: left;
      width: 33.333%;
      height: 37px;
      line-height: 37px;
    }
  }
  .sj{
    div{
      width: 15%;
      display: inline-block;
      padding-bottom: 31/2px;
      span{
        width: 45px;
        height: 30px;
        line-height: 30px;
        border-radius: 10px;
        border: 1px solid #eee;
        padding: 0px;

      }
    }
  }
}
