.active span {
  border: 1px solid #c39528 !important;
}
/*预约时间*/
.yysj {
  background-color: #fff;
  overflow: auto;
}
.yysj .yysjtop {
  top: 0;
  width: 735px;
  font-size: 0.7rem;
  border-top: 1px solid #eee;
  border-bottom: 2px solid #eee;
  clear: both;
}
.yysj .yysjtop:after {
  content: "";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.yysj .yysjtop li {
  float: left;
  height: 35px;
  line-height: 35px;
  padding: 0 9px 0 19px;
}
.yysjbody {
  height: 127px;
  font-size: 0.75rem;
  background-color: #fff;
}
.yysjbody ul {
  padding: 0 30px;
}
.yysjbody ul:after {
  content: "";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.yysjbody ul li {
  float: left;
  width: 33.333%;
  height: 37px;
  line-height: 37px;
}
.yysjbody .sj div {
  width: 15%;
  display: inline-block;
  padding-bottom: 15.5px;
}
.yysjbody .sj div span {
  width: 45px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 0px;
}
(node:20440) [DEP0026] DeprecationWarning: util.print is deprecated. Use console.log instead.
